*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(255, 255, 255);
}

#header{
    overflow: hidden;
    width: 1425px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

#header #logo{
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}

#header #menu {
    float: right;
    height: 20px;
    position:relative;
    margin-top: 15px;
}

#header #titulo{
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    color: #ac2323;
}

#header #titulo h3{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#header #menu ul li{
    list-style: none;
    display: inline;
}

#header #menu ul li a{
    font-weight: bold;
    justify-content: center;
    text-align: center;
    color: rgb(141, 10, 10);
    text-decoration: none;
    padding: 10px;
}

#header #menu ul li a:hover{
    background-color: #ac2323;
    color: rgb(255, 255, 255);
}

#banner{
    background-image: url('public/imgs/Banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#banner img{
    filter: blur(3px);
}

#footer{
    font-size: small;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-top: 50px;
    background-color: rgb(102, 33, 33);
    padding: 20px;
}

#main{
    padding: 20px 0;
    width: 500px;
    margin: 0 auto;
}

.center{
    text-align: center;
}

.error{
    color: #ac2323;
}

.help{
    color: darkslateblue;
}